<ion-header>
  <ion-toolbar>
      <ion-button fill="blank" slot="start" (click)="previous()">
          <ion-icon slot="start"  name="arrow-back"></ion-icon>
        </ion-button>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-card color="danger">
      <ion-card-content>
        <ion-label>Field with * is required</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="orgForm">
    <ion-item>
        <ion-label position="floating">Organization Registration Number*</ion-label>
        <ion-input formControlName="reg_no" placeholder="eg.877563-K" type="text" [(ngModel)]="organization.reg_no" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!orgForm.controls.reg_no.valid  && (orgForm.controls.reg_no.dirty || submitAttempt)" lines="none">
          <p>Please enter a valid registration number.</p>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Code of Organization*</ion-label>
          <ion-input formControlName="code" placeholder="eg.ION" type="text" [(ngModel)]="organization.code" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!orgForm.controls.code.valid  && (orgForm.controls.code.dirty || submitAttempt)" lines="none">
            <p>Please enter a valid organization code.</p>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Name of Organization*</ion-label>
          <ion-input formControlName="org_name" placeholder="eg.Example" type="text" [(ngModel)]="organization.org_name" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!orgForm.controls.org_name.valid  && (orgForm.controls.org_name.dirty || submitAttempt)" lines="none">
            <p>Please enter a valid name of organization.</p>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address*</ion-label>
            <ion-textarea formControlName="address" placeholder="eg.43000 Kajang" type="text" [(ngModel)]="organization.address"></ion-textarea>
          </ion-item>
          <ion-item *ngIf="!orgForm.controls.address.valid  && (orgForm.controls.address.dirty || submitAttempt)" lines="none">
              <p>Please enter a valid address.</p>
          </ion-item>
          <ion-item>
              <ion-label position="floating">State*</ion-label>
              <ion-select formControlName="state_id" placeholder="Select One" [(ngModel)]="organization.state_id">
                  <ion-select-option [value]="state.code" *ngFor="let state of states">{{state.desc}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email*</ion-label>
                <ion-input formControlName="email" placeholder="eg.test@example.com" type="email" [(ngModel)]="organization.email" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!orgForm.controls.email.valid  && (orgForm.controls.email.dirty || submitAttempt)" lines="none">
                  <p>Please enter a valid email.</p>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Telephone No* </ion-label>
                  <ion-input formControlName="tel_no" placeholder="eg.012-12345678" type="text" [(ngModel)]="organization.tel_no" ></ion-input>
                </ion-item>
                <ion-item *ngIf="!orgForm.controls.tel_no.valid  && (orgForm.controls.tel_no.dirty || submitAttempt)" lines="none">
                    <p>Please enter a valid telephone number.</p>
                </ion-item>
              <ion-item>
                  <ion-label position="floating">Fax No (optional)</ion-label>
                  <ion-input formControlName="fax_no" placeholder="eg.03-12345678" type="text" [(ngModel)]="organization.fax_no" ></ion-input>
                </ion-item>
                <ion-item *ngIf="!orgForm.controls.fax_no.valid  && (orgForm.controls.fax_no.dirty || submitAttempt)" lines="none">
                    <p>Please enter a valid fax number.</p>
                </ion-item>
                </form>
                <br><br>
                <ion-button (click)="submit()"*ngIf="btnSubmit">Submit</ion-button>
                <ion-button (click)="update()"*ngIf="btnUpdate">Submit</ion-button>
                <ion-button (click)="clear()" color="warning"*ngIf="btnClear">Clear</ion-button>
                <ion-button (click)="delete()"color="danger" *ngIf="btnDelete">Delete</ion-button>
                <br><br>                 

</ion-content>
