<ion-header>
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="start">
          <ion-button (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <form [formGroup]="usergroupForm">
    <ion-item>
        <ion-label position="floating">Code of User Group</ion-label>
        <ion-input formControlName="code" placeholder="eg.EXP" type="text" [(ngModel)]="usergroup.code" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!usergroupForm.controls.code.valid  && (usergroupForm.controls.code.dirty || submitAttempt)" lines="none">
          <p>Please enter a valid staff code.</p>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Name of User Group</ion-label>
          <ion-input formControlName="desc" placeholder="eg.Example" type="text" [(ngModel)]="usergroup.desc" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!usergroupForm.controls.desc.valid  && (usergroupForm.controls.desc.dirty || submitAttempt)" lines="none">
          <p>Please enter a valid staff code.</p>
      </ion-item>
        </form>
        <br><br>
          <ion-button (click)="submit()"*ngIf="btnSubmit">Submit</ion-button>
          <ion-button (click)="update()"*ngIf="btnUpdate">Submit</ion-button>
          <ion-button (click)="clear()" color="warning"*ngIf="btnClear">Clear</ion-button>
          <ion-button (click)="delete()"color="danger" *ngIf="btnDelete">Delete</ion-button>
          <br><br>              

</ion-content>
