<!--
  Generated template for the StateformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   
        <ion-item>
            <ion-label floating>Code of User Group</ion-label>
            <ion-input type="code" [(ngModel)] = "ugroup.code" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Name of User Group</ion-label>
            <ion-input type="desc" [(ngModel)] = "ugroup.desc" ></ion-input>
        </ion-item>
       <br>
            <button ion-button round  (click) = "save()" *ngIf="btnSave">Save</button>
            <button ion-button round  (click) = "update()" *ngIf="btnUpdate">Update</button>
            <button ion-button round  (click) = "delete()" *ngIf="btnDelete">Delete</button>
        
   
</ion-content>
