<ion-header>
  <ion-toolbar>
      <ion-button fill="blank" slot="start" (click)="previous()">
          <ion-icon slot="start"  name="arrow-back"></ion-icon>
        </ion-button>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-card color="danger">
      <ion-card-content>
        <ion-label>Field with * is required</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="staffForm">
    <ion-item>
        <ion-label position="floating">Name of Organization*</ion-label>
        <ion-select formControlName="organization_code" placeholder="Select One" [(ngModel)]="staff.organization_code">
            <ion-select-option [value]="organization.code" *ngFor="let organization of organizations">{{organization.org_name}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Staff ID*</ion-label>
          <ion-input formControlName="staff_code" type="text" [(ngModel)]="staff.staff_code" placeholder="eg.S002" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!staffForm.controls.staff_code.valid  && (staffForm.controls.staff_code.dirty || submitAttempt)" lines="none">
          <p>Please enter a valid staff code.</p>
      </ion-item>
        <ion-item>
            <ion-label position="floating">Full Name*</ion-label>
            <ion-input formControlName="fullname"  type="text" [(ngModel)]="staff.fullname" placeholder="eg.John Doe" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!staffForm.controls.fullname.valid  && (staffForm.controls.fullname.dirty || submitAttempt)" lines="none">
            <p>Please enter a valid fullname.</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">IC Number*</ion-label>
          <ion-input formControlName="ic_no"  type="text" [(ngModel)]="staff.ic_no" placeholder="eg.900112105567" ></ion-input>
        </ion-item>
        <ion-item *ngIf="!staffForm.controls.ic_no.valid  && (staffForm.controls.ic_no.dirty || submitAttempt)" lines="none">
            <p>Please enter a valid IC number.</p>
        </ion-item>
          <ion-item>
              <ion-label position="floating">Email*</ion-label>
              <ion-input formControlName="email" type="email" [(ngModel)]="staff.email" placeholder="eg.test@example.com" ></ion-input>
            </ion-item>
            <ion-item *ngIf="!staffForm.controls.email.valid  && (staffForm.controls.email.dirty || submitAttempt)" lines="none">
              <p>Please enter a valid email.</p>
          </ion-item>
              <ion-item>
                  <ion-label position="floating">User Group*</ion-label>
                  <ion-select formControlName="usergroup" placeholder="Select One" [(ngModel)]="staff.usergroup">
                      <ion-select-option [value]="usergroup.code" *ngFor="let usergroup of usergroups">{{usergroup.desc}}</ion-select-option>
                    </ion-select>
                </ion-item>
                </form>
                <br><br>
                <ion-button (click)="submit()"*ngIf="btnSubmit">Submit</ion-button>
                <ion-button (click)="update()"*ngIf="btnUpdate">Submit</ion-button>
                <ion-button (click)="clear()" color="warning"*ngIf="btnClear">Clear</ion-button>
                <ion-button (click)="delete()"color="danger" *ngIf="btnDelete">Delete</ion-button>
                <br><br>  

</ion-content>
