<ion-header>
  <ion-toolbar>
      <ion-button fill="blank" slot="start" (click)="previous()">
          <ion-icon slot="start"  name="arrow-back"></ion-icon>
        </ion-button>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label position="floating">Name of Organization</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="staff.organization_code">
            <ion-select-option [value]="organization.code" *ngFor="let organization of organizations">{{organization.org_name}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Staff ID</ion-label>
          <ion-input type="text" [(ngModel)]="staff.staff_id" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input type="text" [(ngModel)]="staff.fullname" ></ion-input>
          </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="staff.password" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" [(ngModel)]="staff.email" ></ion-input>
            </ion-item>
              <ion-item>
                  <ion-label position="floating">User Group</ion-label>
                  <ion-select placeholder="Select One" [(ngModel)]="staff.usergroup">
                      <ion-select-option [value]="usergroup.code" *ngFor="let usergroup of usergroups">{{usergroup.desc}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <br><br>
                <ion-button (click)="submit()"*ngIf="btnSubmit">Submit</ion-button>
                <ion-button (click)="update()"*ngIf="btnUpdate">Submit</ion-button>
                <ion-button (click)="clear()" color="warning"*ngIf="btnClear">Clear</ion-button>
                <ion-button (click)="delete()"color="danger" *ngIf="btnDelete">Delete</ion-button>
                <br><br>  

</ion-content>
