<ion-header no-border >
    <ion-toolbar>
        <ion-title>{{title}}</ion-title> 
        <ion-button fill="blank" slot="start" (click)="previous()">
            <ion-icon slot="start"  name="arrow-back"></ion-icon>
          </ion-button>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="menuType">
            <ion-segment-button value="organization"(ionSelect)="segmentOrganization()">
              <ion-label>Organization</ion-label>
            </ion-segment-button>
            <ion-segment-button value="staff"(ionSelect)="segmentStaff()">
              <ion-label>Staff</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar  animated slot="start" ></ion-searchbar>
        <ion-button fill="blank" slot="end" (click)="viewFilter()">
            <ion-icon slot="end"  name="options"></ion-icon>
          </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="cardOrg">
      <ion-card tappable *ngFor="let item of items; let index=index" (click)="editOrg(item.id)">
        <ion-card-header>
          <ion-list lines="none">
            <ion-item >
              
                <ion-card-subtitle slot="start">{{item.organization_code}}</ion-card-subtitle>
            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{item.staff_id}}</ion-label><br>
          <ion-label>{{item.fullname}}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
      <div *ngIf="cardStaff">
      <ion-card tappable  *ngFor="let item of items; let index=index" (click)="editStaff(item.id)">
          <ion-card-header>
            <ion-list lines="none">
              <ion-item >
               
                  <ion-card-subtitle slot="start">{{item.organization_code}}</ion-card-subtitle>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{item.staff_id}}</ion-label><br>
            <ion-label>{{item.fullname}}</ion-label>
          </ion-card-content>
        </ion-card>
        </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="org">
          <ion-fab-button (click)="createOrg()">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="staff">
          <ion-fab-button (click)="createStaff()">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      
     
         
    </ion-content>
    
